.player {
    display: flex;
    align-items: center;
    width: 100px;
    height: 40px;
    color: white;
    border-radius: 25px 0 0 25px;
    padding-left: 32px;
    background-color: rgba(204, 1, 1, 0.578);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    span {
        font-size: 20px;
    }
}

.activePlayer {
    background-color: rgba(255, 0, 0, 0.7) !important;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.5) !important;
    width: 150px !important;
    height: 40px !important;
    transition: all 0.3s ease !important;
}
