@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.appPlayerPosition {
  position: absolute;
  right: 0px;
}

.gameField {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background-image: url('/img/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include center;

}

.card-stack {
  position: relative;

  img:not(.cardTaken):not(.layed-card) {
    width: 150px;
    position: absolute;
    transition: all 0.3s ease;

    &:last-child {
      right: 0;

      &:hover {
        transform: scale(1.05);
        rotate: -5deg;
      }
    }
  }

}


.cardTaken {
  position: absolute;
  width: 150px;
  animation: take-Card-Animation 1s ease forwards;
}

@keyframes take-Card-Animation {
  0% {
    transform: rotate(-5deg) scale(1.05);
  }
  50% {
    transform: rotate(-5deg) scale(1.5);
  }
  100% {
    transform: rotate(0deg) scale(1.5) translateX(100px) translateY(-200px);
  }
}

.layed-card {
  position: absolute;
  width: 150px;
  right: 25px;
  transform: scale(1.5) translateX(100px) translateY(-200px);
}