.gameField {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background-image: url('/img/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}