<app-player *ngFor="let player of game.Players let i = index" [ngStyle]="{'top.px': 180 + (i * 50)}"
    [playerName]="player" [isActivePlayer]="i === game.CurrentPlayer" class="appPlayerPosition"></app-player>


<section class="gameField">
    <div class="card-stack">
        <!-- <img [ngStyle]="{'right.px': i * 7}" [class.cardTaken]="isTaken && last" *ngFor="let card of [0,1,2,3,4,5]; let i= index let last = last " (click)="last && takeCard()" src="/img/cards/card_cover.png" alt=""> -->
        <img (click)="takeCard()" [ngStyle]="{'right.px': i * 7}" *ngFor="let card of [0,1,2,3,4,5]; let i= index"
            src="/img/cards/card_cover.png" alt="">
        <img *ngIf="isTaken" class="cardTaken" [ngStyle]="{'right.px': 25, 'z-index': 2}"
            src="/img/cards/{{currentCard}}.png" alt="">
        <img *ngFor="let card of game.LayedCards" class="layed-card" [ngStyle]="{'z-index': 1}"
            src="/img/cards/{{card}}.png" alt="">
    </div>

</section>


<button mat-fab class="red-fab btn-add" (click)="openDialog()">
    <mat-icon>add</mat-icon>
</button>

<app-card-rules [card]="currentCard" style="position: fixed; bottom: 20px; left: 20px;"></app-card-rules>